code,
pre
  font-size: 12px
  font-family: Consolas, "Liberation Mono", Courier, monospace

code
  white-space: nowrap
  margin: 0 2px
  padding: 0px 5px
  border: 1px solid #EAEAEA
  background-color: #F8F8F8
  border-radius: 3px

pre
  background-color: #F8F8F8
  border: 1px solid #CCC
  font-size: 13px
  line-height: 19px
  overflow: auto
  padding: 6px 10px
  border-radius: 3px
  code
    margin: 0
    padding: 0
    background-color: transparent
    border: none
    white-space: pre
