// =============================================================================
// This file gets included by default before other stylus files because it
// includes all the setup and mixins used everywhere else
// =============================================================================
// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'
// Grid helps us abstract away the grid system http://semantic.gs
@import 'vendor/styles/grid'
column-width = 40px
gutter-width = 20px
columns = 16

// User defiend variables
// Scaffolding
$textColor = #333

// Typography
$baseLineHeight = 23px
$baseFontSize = 14px
