header
  clearfix()
  background: #4276b6
  .logo
    width: 460px
  a
    color: #fff
    text-decoration: none
  ul
    margin: 10px 0
    list-style-type: none
    li
      float: left
      margin-right: 20px
